extends layout
block append head
    link(rel="stylesheet", href="/stylesheets/grades.css")
block prepend header
    .row 
        .col-12
            h1 Grades API
        .col-12
            p for University of St Andrews students.
block content
    .row.mb-3
        .col-12
            h2 What this is
        .col-12
            p 
                span Use this tool as an API version of 
                a(href="https://grades.lukasa.co.uk") https://grades.lukasa.co.uk
                span . It can provide a degree classification based on your current grades and based on your predicted grades.

            p
                span="The server does not take logs of the content of API calls made to the "
                code.info /grades
                span=" endpoint. Obviously you cannot verify this without accessing my server,"
                span=" but you can at least verify the code it is running from GitHub isn't logging anything."
                span=" Please see "
                a(href="https://github.com/cheemcheem/cheem.co.uk") https://github.com/cheemcheem/cheem.co.uk
                span=" for this proof or to download it and run it yourself locally."

        .col-12
            p 
                span In the following example, 
                ul
                    li
                        code.info grade
                        span  is your grade from 0-20 for a module.
                    li
                        code.info credits
                        span  is how many credits from 15-120 the module is worth. 
                    li
                        code.info achieved
                        span  is whether this is a current achieved grade (true or absent) or a predicted grade (false).

    .row.mb-3
        .col-12
            h4 Usage
    .row.mb-3
        .col-12
            p
                span="Send "
                code.info POST
                span=" request to "
                code.info /grades
                span=" with a body that conforms to the following schema:"
    .row.mb-3
        .col-12.contains-pre
            pre
                code {
                    |
                    |    
                code.my-tooltip.values "values"
                code : [
                    |
                    |        { 
                    |           
                code.my-tooltip.grade "grade"
                code : number, 
                    |
                    |           
                code.my-tooltip.credits "credits"
                code : number, 
                    |
                    |           
                code.my-tooltip.achieved "achieved"
                code : boolean|undefined 
                    |
                    |        }
                    |    ]
                    |}
    .row.mb-3
        .col-12
            h2 Examples
    .row.mb-3
        .col-12
            h4 
                span Example grades.json 
        .col-12
            p
                span Available here: 
                a(href="http://cheem.co.uk/example_grades.json") example_grades.json
                span
        .col-12.contains-pre
            pre
                code {
                    |
                    |   
                code.my-tooltip.values "values"
                code : [
                    |
                    |        {
                code.my-tooltip.grade "grade"
                code : 17.0, 
                code.my-tooltip.credits "credits"
                code : 60, 
                code.my-tooltip.achieved "achieved"
                code : true},
                    |
                    |        {
                code.my-tooltip.grade "grade"
                code : 13.0, 
                code.my-tooltip.credits "credits"
                code : 60, 
                code.my-tooltip.achieved "achieved"
                code : true},
                    |
                    |        {
                code.my-tooltip.grade "grade"
                code : 17.0, 
                code.my-tooltip.credits "credits"
                code : 30, 
                code.my-tooltip.achieved "achieved"
                code : false},
                    |
                    |        {
                code.my-tooltip.grade "grade"
                code : 15.0, 
                code.my-tooltip.credits "credits"
                code : 30, 
                code.my-tooltip.achieved "achieved"
                code : false},
                    |
                    |        {
                code.my-tooltip.grade "grade"
                code : 18.0, 
                code.my-tooltip.credits "credits"
                code : 60, 
                code.my-tooltip.achieved "achieved"
                code : false}
                    |
                    |    ]
                    |}
        .col-12
            h4 Example cURL
        .col-12.contains-pre
            pre.long
                span
                    code.my-tooltip(data-tip="cURL is a tool to make requests to servers.") curl
                    span  \
                span
                    code.my-tooltip(data-tip="This sets the RESTFUL request method to be POST.") -X POST
                    span  \
                span
                    code.my-tooltip(data-tip="This specifies the type of the data payload you send is JSON.") -H "Content-Type: application/json"
                    span  \
                span
                    code.my-tooltip(data-tip="This adds the contents of \"./grades.json\" to the data payload.") -d @grades.json
                    span  \
                span
                    code.my-tooltip(data-tip="This is the end point that will accept the data and send back the results.") http://cheem.co.uk/grades

        .col-12
            h4 Example Response
        .col-12.contains-pre
            pre
                code {
                    |
                    |   "achieved": {
                    |       "mean": "15.0",
                    |       "median": "15.0",
                    |       "class": "Upper Second Class Honours (II.1)"
                    |   },
                    |   "will_achieve": {
                    |       "mean": "16.0",
                    |       "median": "17.0",
                    |       "class": "First Class Honours"
                    |   }
                    |}




